*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #515151;
  font-size: 20px;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 20px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 28px;
}

.nav_items li {
  display: inline-block;
  margin-right: 30px;
  text-transform: uppercase;
}

.nav_items:last-child {
  margin-right: 0;
}

.nav_links {
  text-decoration: none;
  color: #666666;
  font-size: 14px;
}

.banner_wrapper {
  width: 100%;
  min-height: 570px;
  background: url('/images/main_banner.jpg') 0 0 no-repeat;
  color: #fff;
  padding-top: 164px;
  text-align: center;
  
}

.banner_title {
  font-size: 50px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.banner_wrapper h4 {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  margin-top: 26px;
}

.member_btn_link {
  display: block;
  width: 257px;
  height: 74px;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 60px auto 0;
  background-color: #99c50a;
  align-content: center;
}

main {
  text-align: center;
  margin-bottom: 95px;
}

.icon_ourWork {
  height: 80px;
  margin-top: 40px;
  margin-bottom: 20px;
  background: url('/images/icon_ourWork.png') 50% 50% no-repeat;
}

/* .title_icon::before {
  content: "";
  display: inline-block;
  height: 80px;
  width: 80px;
  margin-top: 40px;
  margin-bottom: 20px;
  background: url('/images/icon_ourWork.png') 50% 50% no-repeat;
} */

.main_title {
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.main_descr_small {
  font-size: 17px;
}

.blocks_wrapper {
  background: linear-gradient(to right, #e2f8ff 0%, #e2f8ff 50%, #f5f9eb 50%, #f5f9eb 100%);
}

.blocks {
  display: flex;
  align-items: flex-start;
}

.block {
  flex-basis: 50%;
  padding-left: 180px;
}

.block_title {
  font-size: 23px;
  font-weight: bold;
}

.block_descr {
  font-size: 17px;
  font-weight: normal;
}

.btn {
  display: block;
  width: 190px;
  height: 52px;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin: 30px 0 48px 0;
  align-content: center;

}

.block_btn_member {  
  background-color: #26a6d1;  
}

.block_btn_submit {  
  background-color: #add136;  
}

.properties::before {
  content: "";
  display: inline-block;
  min-width: 134px;
  height: 113px;
  background: url('/images/img_sofa_lamp.png') 0 0 no-repeat;
  position: relative;
  left: -180px;
  top: 200px;
}

.buyers::before {
  content: "";
  display: block;
  min-width: 134px;
  height: 113px;
  background: url('/images/img_wallet.png') 0 0 no-repeat;
  position: relative;
  left: -160px;
  top: 200px;
}

/* It is practice code and nothing related to the project it should be commented all time */

/* .pricing_block {
  background: #e7e7e7;
  padding: 54px 0 42px;
  margin-bottom: 10px;
}

.section_title {
  color: #222222;
  font-weight: 500;
  font-size: 30px;
  margin: 0 0 25px;
  text-align: center;
}

.section_descr {
  line-height: 1.625;
  margin: 0 0 50px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 24.25%;
  background: #fff;
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.card_title {
  margin: 0 0 15px;
  padding: 15px 0;
  background: #3498db;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}

.card_body {
  padding: 0 20px;
}

.card_price {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #222222;
}

.card_option {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card_option li {
  padding: 15px 0;
  border-top: 1px solid #c2c2c2;
}

.card_link {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  background: #0d74b9;
  color: #fff;
  padding: 15px 30px;
  align-self: center;
  margin-top: auto;
} */