*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #515151;
  font-size: 20px;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 20px;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 28px;
}

.nav_items li {
  display: inline-block;
  margin-right: 30px;
  text-transform: uppercase;
}

.nav_items:last-child {
  margin-right: 0;
}

.nav_links {
  text-decoration: none;
  color: #666666;
  font-size: 14px;
}

.banner_wrapper {
  width: 100%;
  min-height: 570px;
  background: url('/images/main_banner.jpg') 0 0 no-repeat;
  color: #fff;
  padding-top: 164px;
  text-align: center;

}

.banner_title {
  font-size: 50px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.banner_wrapper h4 {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  margin-top: 26px;
}

.member_btn_link {
  display: block;
  width: 257px;
  height: 74px;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 60px auto 0;
  background-color: #99c50a;
  align-content: center;
}

main {
  text-align: center;
  margin-bottom: 95px;
}

.icon_ourWork {
  height: 80px;
  margin-top: 40px;
  margin-bottom: 20px;
  background: url('/images/icon_ourWork.png') 50% 50% no-repeat;
}

/* .title_icon::before {
  content: "";
  display: inline-block;
  height: 80px;
  width: 80px;
  margin-top: 40px;
  margin-bottom: 20px;
  background: url('/images/icon_ourWork.png') 50% 50% no-repeat;
} */

.main_title {
  font-size: 32px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.main_descr_small {
  font-size: 17px;
}

.blocks_wrapper {
  background: linear-gradient(to right, #e2f8ff 0%, #e2f8ff 50%, #f5f9eb 50%, #f5f9eb 100%);
  margin-bottom: 80px;
}

.blocks {
  display: flex;
  align-items: flex-start;
}

.block {
  flex-basis: 50%;
  padding-left: 180px;
  position: relative;
}

.block_title {
  font-size: 23px;
  font-weight: bold;
}

.block_descr {
  font-size: 17px;
  font-weight: normal;
}

.btn {
  display: block;
  width: 190px;
  height: 52px;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  margin: 30px 0 48px 0;
  align-content: center;

}

.block_btn_member {
  background-color: #26a6d1;
}

.block_btn_submit {
  background-color: #add136;
}

.properties::before,
.buyers::before {
  content: "";
  display: block;
  width: 134px;
  height: 113px;
  background-size: contain;
  position: absolute;
  /* changed from relative */
  left: 30px;
  /* adjust as needed */
  top: 47%;
  /* vertically center */
  transform: translateY(-50%);
}

.properties::before {
  background: url('/images/img_sofa_lamp.png') no-repeat;
}

.buyers::before {
  background: url('/images/img_wallet.png') no-repeat;
}

/* It is practice code and nothing related to the project it should be commented all time */

/* .pricing_block {

  background: #e7e7e7;
  padding: 54px 0 42px;
  margin-bottom: 10px;
}

.section_title {
  color: #222222;
  font-weight: 500;
  font-size: 30px;
  margin: 0 0 25px;
  text-align: center;
}

.section_descr {
  line-height: 1.625;
  margin: 0 0 50px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 24.25%;
  background: #fff;
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.card_title {
  margin: 0 0 15px;
  padding: 15px 0;
  background: #3498db;
  font-size: 28px;
  font-weight: 500;
  color: #fff;
}

.card_body {
  padding: 0 20px;
}

.card_price {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #222222;
}

.card_option {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card_option li {
  padding: 15px 0;
  border-top: 1px solid #c2c2c2;
}

.card_link {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  background: #0d74b9;
  color: #fff;
  padding: 15px 30px;
  align-self: center;
  margin-top: auto;
} */

.section_projects {
  margin-bottom: 85px;
}

.section_title {
  font-size: 29px;
  font-weight: normal;
  margin: 0 auto 30px;
  padding: 0;
  text-align: center;
}

.section_descr {
  font-size: 17px;
  margin: 0 0 40px;
  padding: 0;
}

.projects_blocks {
  display: flex;
  justify-content: space-between;
}

.project_block {
  position: relative;
  width: 30%;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project_block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  height: 74px;
  background: url('/images/sticker_NEW.png') 0 0 no-repeat;
  background-size: contain;
  z-index: 2;
}

.block_img-1 {
  background: url('/images/city-1.png') 50% 50% no-repeat;
  height: 230px;
}

.block_img-2 {
  background: url('/images/city-2.png') 50% 50% no-repeat;
  height: 230px;
}

.block_img-3 {
  background: url('/images/city-3.png') 50% 50% no-repeat;
  height: 230px;
}

.price_btn {
  display: inline-block;
  background: #26a6d1;
  color: #fff;
  font-size: 16px;
  padding: 12px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin: 160px 0 0 120px;
}

.price_btn span {
  font-weight: bold;
}

.project_title {
  font-size: 17px;
  font-weight: bold;
  margin: 30px 22px 0;
  padding: 0;
}

.project_descr {
  font-size: 14px;
  font-weight: normal;
  margin: 20px 22px 25px;
}

.project_link {
  text-align: right;
  margin: auto 22px 25px;
  font-size: 16px;
  font-weight: normal;
  color: #484848;
  text-transform: capitalize;
  padding: 25px 0 0;
  border-top: 1px solid grey;
}

.project_link::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('/images/icon_right-arrow.png') 0 0 no-repeat;
  margin: 0 0 -2px 15px;
}

footer {
  padding: 28.4px 0;
  background-color: #ededed;
  color: #484848;
}

.footer_info {
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.footer_info a {
  text-decoration: none;
  color: #484848;

}